html {
   background-color: black;
 }

header {
   font-size: 30px;
   color: white;
   font-family: sans-serif;
   text-align: center;
 }

#images {
   display: flex;
   justify-content: space-around;
 }

.image {
   width: 400px;
   height: 400px;
 }
