html {
   background-color: black;
 }

header {
   font-size: 30px;
   color: white;
   font-family: sans-serif;
   text-align: center;
 }

#images {
   display: flex;
   justify-content: space-around;
 }

.image {
   width: 400px;
   height: 400px;
 }

 table {
   background-color: white;
 }

 #chart {
   display:block;
   margin: 30px auto;
 }

 .hidden {
   display: none;
 }

 .shown {
   display: block;
 }

 #submit {
   margin: 20px auto;
   padding: 10px 20px;
   border-radius: 4px;
   background-color: white;
   outline: 0;
 }

 #submit:hover {
   background-color: #d5d5d5;
   outline: 0;
 }
